<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{titletag}}</title>
</head>
<body>
	<div class="content">
		<h1>Even Subbier Page Layout</h1>
		{{>content}}
	</div>
</body>
</html>
